<div class="search shadow p-3 mb-5 bg-light rounded">

  <div class="text-right">
    <button id="filter" type="button" class="btn btn-outline-primary">Filtrar</button>
  </div>

  <div class="filter">
    <label for="country">País</label>
    <select class="form-control" id="country" name="country">
      <option value="">Todos</option>
      <option value="Colombia">Colombia</option>
      <option value="Panama">Panama</option>
    </select>
  </div>

  <div class="filter">
    <label for="city">Ciudad</label>
    <select class="form-control" id="city" name="city">
      <option value="">Todos</option>
      <option value="Bogotá">Bogotá</option>
      <option value="Medellín">Medellín</option>
      <option value="Panama">Panama</option>
      <option value="Colón">Colón</option>
    </select>
  </div>

  <div class="filter">
    <label for="stars">Estrellas</label>
    <select class="form-control" id="stars" name="stars">
      <option value="">Todos</option>
      <option value="1">&#9733;</option>
      <option value="2">&#9733;&#9733;</option>
      <option value="3">&#9733;&#9733;&#9733;</option>
      <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
      <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
    </select>
  </div>

  <div class="filter">
    <label for="price">Precio</label>
    <select class="form-control" id="price" name="price">
      <option value="">Todos</option>
      <option value="1">< $50.000</option>
      <option value="2">$50.000 - $100.000</option>
      <option value="3">$100.000 <</option>
    </select>
  </div>

</div>
